.head-portifa {
    padding: 17px;
}

.head-portifa img {
    max-width: 52%;
    margin: auto;    
}

.Caixalink {
    padding: 2%;
    text-align: center;
    font-size: 17pt;
    font-family: cursive;
    margin-top: 7% !important;
    margin-bottom: 7%;
}

#botao-cep {
    background-color: #18afa3;
    color:rgb(223, 223, 223);
}

#botao-cep:hover {
    color: rgb(187, 187, 187) !important;
    background-color: #1aa196;
}

#conteudo {
    display: none;
}

#minhaDiv {
    display: none;
  }

#minhaDiv2 {
    display: none;
}

#minhaDiv3 {
    display: none;
}

#minhaDiv4 {
    display: none;
}